<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c5a0d90f-6538-42a2-af9b-ba531b8be7a2/resourcegroups/BjuApiServer20250612070848ResourceGroup/providers/Microsoft.Web/sites/BjuApiServer</ResourceId>
    <ResourceGroup>BjuApiServer20250612070848ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/c5a0d90f-6538-42a2-af9b-ba531b8be7a2/resourceGroups/BjuApiServer20250612070848ResourceGroup/providers/Microsoft.ApiManagement/service/BjuApiServerapi/apis/BjuApiServer</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bjuapiserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>bb3e4e07-a025-45d3-ab4f-0a65ea5bb846</ProjectGuid>
    <MSDeployServiceURL>bjuapiserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BjuApiServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>